.App {
  text-align: center;
}

.mainWidget {
  display: inline-block;
  text-align: center;
  max-width: 30em;
}

ul {
  text-align: left;
}

h1 {
  color: darkgreen;
}

.danger {
  color: red;
}

.cryptoAddress {
  color: magenta;
}