.App {
  text-align: center;
  background-color: #cfc;
}

.mainWidget {
  display: inline-block;
  text-align: center;
  max-width: 30em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ul {
  text-align: left;
}

h1 {
  color: darkgreen;
}

.danger {
  color: red;
}

.cryptoAddress {
  color: magenta;
  font-size: smaller;
}